.cabecalho {
    align-items: center;
    background-color: var(--fundo-branco);
    display: flex;
    font-family: var(--fonte);
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.cabecalho__logo {
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
}

.cabecalho__btnLogin {
    color: var(--cor-btnLogin);
    border: 1px solid var(--cor-btnLogin);
    margin-top: 1rem;
    padding: 0.7rem 1.2rem;
    text-align: center;
    width: 5.5rem;
    transition: ease-in-out 200ms;
}

.cabecalho__btnLogin:hover {
    color: #FFF;
    background-color: var(--cor-btnLogin);
    width: 5.7rem;
}

.cabecalho__btnSearch {
    border: none;
    background: none;
    cursor: pointer;
}

.cabecalho__searchInput {
    border-radius: 20px;
    border: none;
    background-color: #F5F5F5;
    display: none;
    margin-top: 1rem;
    margin-left: 0rem;
    width: 11rem;
    padding: 0.5rem;
}


.cabecalho__search {
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    .cabecalho {
        padding-bottom: .5rem;
    }

    .cabecalho__searchInput {
        background-image: url(/Assets/img/home/search.svg);
        background-repeat: no-repeat;
        background-position: center right;
        display: block;
        width: 18rem;
        padding: 0.6rem;
        margin-right: 7rem;
    }


    .cabecalho__btnSearch {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho__searchInput {
        display: flex;
        padding: 8px 16px;
        gap: 8px;
    }
}