.main {
    background-color: var(--bg-main);
    padding-bottom: 5rem;
}

.main__titleArea {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.main__tituloProdutos {
    color: var(--color-titles);
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.main__verTudo {
    color: var(--cor-btnLogin);
    padding-top: 1rem;
    font-weight: 700;
    font-size: .85rem;
    padding-right: 0.7rem;
}

.main__verTudo::after {
    content: url(/Assets/img/home/seta.svg);
    position: absolute;
    margin-top: 1.5px;
}

.main__produtosArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.85rem;
}

.main__produtos {
    cursor: pointer;
    margin-top: 1rem;
    width: 47.5%;
    height: 10rem;
    padding-bottom: 3.5rem;
}

.main__produtos:nth-child(5) {
    display: none;
}

.main__produtos:nth-child(6) {
    display: none;
}

.main__imgPorduto {
    height: 174px;
    width: 156px;
}

.main__imgPorduto:hover {
    filter: drop-shadow(5px 4px 9px #4f8ddead);
    border-radius: 5px;
    width: 10rem;
}

.main__tituloProduto {
    padding-bottom: .4rem;
}

.main__preco {
    font-weight: 700;
    padding-bottom: .4rem;
}

.main__linkVerProduto {
    color: var(--cor-btnLogin);
    font-weight: 700;
    padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .main__verTudo {
        font-size: 1rem;
    }

    .main__produtosArea {
        flex-wrap: nowrap;
    }

}

@media screen and (min-width: 1024px) {
    
    .main__imgPorduto {
        width: 130px;
        height: 165px;
    }

    .main__imgPorduto:hover {
        filter: drop-shadow(5px 4px 9px #4f8ddead);
        border-radius: 5px;
        width: 8rem;
    }

    .main__produtos:nth-child(5) {
        display: block;
    }

    .main__produtos:nth-child(6) {
        display: block;
    }
    
}