.cabecalho {
    align-items: center;
    background-color: var(--fundo-branco);
    display: flex;
    font-family: var(--fonte);
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.cabecalho__logo {
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
}

.cabecalho__btnLogin {
    color: var(--cor-btnLogin);
    border: 1px solid var(--cor-btnLogin);
    margin-top: 1rem;
    padding: 0.7rem 1.2rem;
    text-align: center;
    width: 5.5rem;
    transition: ease-in-out 200ms;
}

.cabecalho__btnLogin:hover {
    color: #FFF;
    background-color: var(--cor-btnLogin);
    width: 5.7rem;
}

.cabecalho__btnSearch {
    border: none;
    background: none;
    cursor: pointer;
}

.cabecalho__searchInput {
    border-radius: 20px;
    border: none;
    background-color: #F5F5F5;
    display: none;
    margin-top: 1rem;
    margin-left: 0rem;
    width: 11rem;
    padding: 0.5rem;
}


.cabecalho__search {
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    .cabecalho {
        padding-bottom: .5rem;
    }

    .cabecalho__searchInput {
        background-image: url(/Assets/img/home/search.svg);
        background-repeat: no-repeat;
        background-position: center right;
        display: block;
        width: 18rem;
        padding: 0.6rem;
        margin-right: 7rem;
    }


    .cabecalho__btnSearch {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho__searchInput {
        display: flex;
        padding: 8px 16px;
        gap: 8px;
    }
}

.footer {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: var(--fonte);
}

.informacoes {
    background-color: var(--bg-informacoes);
    color: var(--color-titles);
    font-family: var(--fonte);
    font-weight: 500;
    padding-bottom: 1rem;
}

.informacoes__menu {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.informacoes__logo {
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.informacoes__itens {
    padding-bottom: 1rem;
}

.informacoes__itens a {
    font-size: 16px;
    transition: ease-in-out 200ms;
    text-align: center;
}

.informacoes__itens a:hover {
    font-size: 15px;
    width: 16px;
    color: var(--cor-btnLogin);
    text-decoration: underline #2A7AE4 2px;
}

.form__titulo {
    font-weight: 700;
    padding-bottom: .8rem;
    padding-top: 2rem;
}

.form {
    padding-right: 1rem;
}

.form__lbl {
    color: #A2A2A2;
    font-size: 12px;
    position: absolute;
    padding: 0.2rem 0.2rem;
}

.form__nameField {
    background-color: #FFF;
    border: none;
    width: 100%;
    outline: none;
    padding: 1.3rem 0.6rem 1rem 1rem;

    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
}

.form__nameField:focus {
    box-shadow: 0px 4px 6px 0px rgba(31, 80, 204, 0.53);
    border: none;
}

.form_message {
    background-color: #FFF;
    border: none;
    margin-top: 1rem;
    padding: 1.3rem 0.6rem 1rem 1rem;
    resize: none;
    outline: none;
    width: 100%;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
}

.form_message:focus {
    box-shadow: 0px 4px 6px 0px rgba(31, 80, 204, 0.53);
    border: none;
}

.form__btnEnviar {
    background-color: var(--cor-btnLogin);
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .8rem;
    transition: ease-in-out 500ms;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.53);
}

.form__btnEnviar:hover {
    width: 33%;
    background-color: #FFF;
    color: var(--cor-btnLogin);
    outline: none;
}

.cabecalho__Search {
    background: url(/Assets/img/home/search.svg) no-repeat right;
    width: 3rem;
    border: none;
}

@media screen and (min-width: 768px) {
    .informacoes {
        display: flex;
    }

    .informacoes__menu {
        padding-right: 5rem;
    }

    .form {
        padding-top: 1rem;
    }

    .cabecalho__Search {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .informacoes {
        padding-top: 3rem;
    }

    .informacoes__menu {
        align-items: flex-start;
        flex-direction: row;
        padding-right: 0rem;
    }

    .form {
        margin-left: 5.5rem;
        padding-top: 0rem;
    }

    .informacoes__itens {
        margin-top: 1.8rem;
        padding: 0rem 4rem;
        width: 100%;
    }

    .informacoes__itens a {
        font-size: .9rem;
        font-weight: 600;
    }

    .informacoes__itens a:hover {
        font-size: .95rem;
        padding-right: 0rem;
        color: var(--cor-btnLogin);
        text-decoration: underline #2A7AE4 2px;
    }

    .informacoes__logo {
        height: 11%;
    }

}