* {
    font-family: 'Raleway', sans-serif;
}


:root {

    --fundo-branco: #FFF;
    --cor-btnLogin: #2A7AE4;
    --bg-main: #E5E5E5;
    --fonte: 'Raleway', sans-serif;
    --color-titles: #464646;
    --bg-informacoes: #EAF2FD;
    
}


.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }
}