<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/reset.css">
    <link rel="stylesheet" href="../Assets/css/base.css">
    <link rel="stylesheet" href="../Assets/css/home/cabecalho.css">
    <link rel="stylesheet" href="../Assets/css/home/banner.css">
    <link rel="stylesheet" href="../Assets/css/home/main__produtos.css">
    <link rel="stylesheet" href="../Assets/css/home/main__consoles.css">

    <title>Home | AluraGeek</title>
</head>

<body>

    <header class="cabecalho container">
        <img src="../Assets/img/home/logo.svg" alt="Logo do AluraGeek" class="cabecalho__logo">
        <a href="#" class="cabecalho__btnLogin">Login</a>
        <img src="../Assets/img/home/search.svg" alt="Icone de pesquisar" class="cabecalho__search">
    </header>

    <section class="banner__area">

        <div class="banner__informacoes">
            <h2 class="banner__titulo">Abril Promocional</h2>
            <p class="banner__texto">Produtos selecionados com 33% de desconto</p>
        </div>
        <a href="#" class="banner__btnConsoles">Ver Consoles</a>

    </section>

    <main class="main container">
            <div class="main__titleArea">
                <h1 class="main__titulo1">Star Wars</h1>
                <a href="#" class="main__verTudo">Ver tudo</a>
            </div>

            <div class="main__produtosArea">

                <div class="main__produtos">
                    <a href="#">
                        <img src="../Assets/img/home/produtos/capacete.svg" alts="Produto do capacte do Stormtroopers"
                            class="main__imgPorduto">
                    </a>
                    <h4 class="main__tituloProduto">Produto XYZ</h4>
                    <p class="main__preco">R$ 60,00</p>
                    <a href="#" class="main__linkVerProduto">Ver produto</a>
                </div>

                <div class="main__produtos">
                    <a href="#">
                        <img src="../Assets/img/home/produtos/DarthVader.svg" alt="Produto da miniatura do Dath Vader"
                            class="main__imgPorduto"></a>
                    <h4 class="main__tituloProduto">Produto XYZ</h4>
                    <p class="main__preco">R$ 60,00</p>
                    <a href="#" class="main__linkVerProduto">Ver produto</a>
                </div>

                <div class="main__produtos">
                    <a href="#">
                        <img src="../Assets/img/home/produtos/yoda.svg" alt="Produto da miniatura do Yoda"
                            class="main__imgPorduto"></a>
                    <h4 class="main__tituloProduto">Produto XYZ</h4>
                    <p class="main__preco">R$ 60,00</p>
                    <a href="#" class="main__linkVerProduto">Ver produto</a>
                </div>

                <div class="main__produtos">
                    <a href="#">
                        <img src="../Assets/img/home/produtos/Stormtroopers.svg"
                            alt="Produto da miniatura do Stormtroopers" class="main__imgPorduto"></a>
                    <h4 class="main__tituloProduto">Produto XYZ</h4>
                    <p class="main__preco">R$ 60,00</p>
                    <a href="#" class="main__linkVerProduto">Ver produto</a>
                </div>

            </div>

            <!-- Parte dos consoles -->

            <div class="main__titleArea-2">
                <h1 class="main__titulo2">Consoles</h1>
                <a href="#" class="main__verTudo-2">Ver tudo</a>
            </div>

            <div class="main__consolesArea">

                <div class="main__consoles">
                    <a href="#">
                        <img src="../Assets/img/home/consoles/controle.svg" alts="Produto do capacte do Stormtroopers"
                            class="main__imgConsoles">
                    </a>
                    <h4 class="main__tituloConsoles">Controle Xbox</h4>
                    <p class="main__precoConsoles">R$ 60,00</p>
                    <a href="#" class="main__linkConsoles">Ver produto</a>
                </div>

                <div class="main__consoles">
                    <a href="#">
                        <img src="../Assets/img/home/consoles/ps5custom.svg" alts="Produto do capacte do Stormtroopers"
                            class="main__imgConsoles">
                    </a>
                    <h4 class="main__tituloConsoles">PS5 Custom</h4>
                    <p class="main__precoConsoles">R$ 60,00</p>
                    <a href="#" class="main__linkConsoles">Ver produto</a>
                </div>

                <div class="main__consoles">
                    <a href="#">
                        <img src="../Assets/img/home/consoles/supernitendo.svg" alts="Produto do capacte do Stormtroopers"
                            class="main__imgConsoles">
                    </a>
                    <h4 class="main__tituloConsoles">Super Nintendo</h4>
                    <p class="main__precoConsoles">R$ 60,00</p>
                    <a href="#" class="main__linkConsoles">Ver produto</a>
                </div>

                <div class="main__consoles">
                    <a href="#">
                        <img src="../Assets/img/home/consoles/controlewi.svg" alts="Produto do capacte do Stormtroopers"
                            class="main__imgConsoles">
                    </a>
                    <h4 class="main__tituloConsoles">Constrole WI</h4>
                    <p class="main__precoConsoles">R$ 60,00</p>
                    <a href="#" class="main__linkConsoles">Ver produto</a>
                </div>
                
            </div>


    </main>

</body>

</html>