<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/reset.css">
    <link rel="stylesheet" href="../Assets/css/base.css">
    <link rel="stylesheet" href="/Assets/css/baseStyle.css">
    <link rel="stylesheet" href="/Assets/css/produtosHome/main.css">
    <link rel="stylesheet" href="/Assets/css/home/main__produtosStyle.css">

    <title>Produtos Home | AluraGeek</title>
</head>

<body>

    <header class="cabecalho container">
        <img src="../Assets/img/home/logo.svg" alt="Logo do AluraGeek" class="cabecalho__logo">
        <input type="text" name="search" id="search" class="cabecalho__searchInput"
            placeholder="O que deseja encontrar?">

        <button class="cabecalho__btnSearch"><img src="../Assets/img/home/search.svg" alt="Icone de pesquisar"
                class="cabecalho__search"></button>
    </header>

    <main class="main container">

        <h1 class="main__title">Todos os produtos</h1>

        <a href="#" class="main__addProduct">Adicionar produto</a>

        <div class="main__produtosAreaAll">

            <div class="main__produtosAll">

                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>

                <a href="#">
                    <img src="../Assets/img/home/produtos/capacete.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Capacete</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>


            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/produtos/DarthVader.svg" alt="Produto da miniatura do Dath Vader"
                        class="main__imgPorduto"></a>
                <h4 class="main__tituloProduto">Mini Darth Vader</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/produtos/yoda.svg" alt="Produto da miniatura do Yoda"
                        class="main__imgPorduto"></a>
                <h4 class="main__tituloProduto">Produto XYZ</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/produtos/Stormtroopers.svg" alt="Produto da miniatura do Stormtroopers"
                        class="main__imgPorduto"></a>
                <h4 class="main__tituloProduto">Produto XYZ</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/produtos/babyyoda.svg" alt="Produto da miniatura do Stormtroopers"
                        class="main__imgPorduto"></a>
                <h4 class="main__tituloProduto">Produto XYZ</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/produtos/homemdepreto.svg" alt="Produto da miniatura do Stormtroopers"
                        class="main__imgPorduto"></a>
                <h4 class="main__tituloProduto">Produto XYZ</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/consoles/controle.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Controle Xbox</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/consoles/ps5custom.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">PS5 Custom</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>


            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/consoles/supernitendo.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Super Nintendo</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/consoles/controlewi.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Constrole WI</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/consoles/xboxseriess.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Constrole WI</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/consoles/gameboy.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Constrole WI</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/diversos/camisaAtari.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Camisa Atari</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/diversos/camisaSnes.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Camisa Snes</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>




            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/diversos/miniSonic.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Mini Sonic</h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/diversos/relogioretro.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Relógio Retrô </h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>


            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/diversos/vr.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Relógio Retrô </h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>



            </div>

            <div class="main__produtosAll">
                
                <div class="btn__area">

                    <button class="remove__btn"><img src="/Assets/img/home/icons/delete.svg"
                            alt="Botçao para remover produto"></button>
                    <button class="edit__btn"><img src="/Assets/img/home/icons/edit.svg"
                            alt="Botçao para remover produto"></button>

                </div>


                <a href="#">
                    <img src="../Assets/img/home/diversos/usaopikachu.svg" alts="Produto do capacte do Stormtroopers"
                        class="main__imgPorduto">
                </a>
                <h4 class="main__tituloProduto">Relógio Retrô </h4>
                <p class="main__preco">R$ 60,00</p>
                <a href="#" class="main__linkVerProduto">Ver produto</a>
                <p class="main__codigo">#1111111</p>

            </div>

        </div>
    </main>

    <section class="informacoes container">
        <div class="informacoes__menu">
            <img src="../Assets/img/home/logo.svg" alt="Logo do AluraGeek" class="informacoes__logo">

            <ul class="informacoes__ul">
                <li class="informacoes__itens"><a href="#">Quem somos nós</a></li>
                <li class="informacoes__itens"><a href="#">Programa fidelidade</a></li>
                <li class="informacoes__itens"><a href="#">Política de privacidade</a></li>
                <li class="informacoes__itens"><a href="#">Nossas lojas</a></li>
                <li class="informacoes__itens"><a href="#">Quero ser franqueado</a></li>
                <li class="informacoes__itens"><a href="#">Anuncie aqui</a></li>

            </ul>
        </div>

        <!-- fomulário  -->

        <form action="#" method="post" class="form">
            <h4 class="form__titulo">Fale conosco</h4>

            <label for="nome" class="form__lbl">Nome</label>
            <input type="text" name="nome" id="nome" class="form__nameField" placeholder="seu nome">

            <textarea name="message" id="message" cols="30" rows="5" class="form_message"
                placeholder="Escreva sua mensagem"></textarea></textarea>

            <button type="submit" class="form__btnEnviar">Enviar mensagem</button>

        </form>


    </section>


    <footer class="footer">
        <p>Desenvolvido por Welisson</p>
        <p>2023</p>
    </footer>


</body>

</html>