<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/reset.css">
    <link rel="stylesheet" href="../Assets/css/base.css">
    <link rel="stylesheet" href="/Assets/css/login/header.css">
    <link rel="stylesheet" href="/Assets/css/baseStyle.css">

    <title>Produtos descriçao | AluraGeek</title>
</head>

<body>

    <header class="cabecalho container">
        <img src="../Assets/img/home/logo.svg" alt="Logo do AluraGeek" class="cabecalho__logo">
        <input type="text" name="search" id="search" class="cabecalho__searchInput" placeholder="O que deseja encontrar?">
        <a href="#" class="cabecalho__btnLogin">Login</a>
        
        <button class="cabecalho__btnSearch"><img src="../Assets/img/home/search.svg" alt="Icone de pesquisar" class="cabecalho__search"></button>
    </header>



</body>

</html>